services:
  - type: web
    name: todo-frontend
    env: static
    buildCommand: cd todo-frontend && npm install && npm run build:prod
    staticPublishPath: todo-frontend/dist/todo-frontend/browser
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=3600
      - path: /assets/*
        name: Cache-Control
        value: public, max-age=31536000
    routes:
      - src: /(.*)
        dest: /index.html